html{
    height: 100%;
}
/*html .main{*/
    /*min-height:5000px;*/
/*}*/
.cell-container{
    position: relative;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;


}
.movable-item{
    box-sizing: border-box;
    position: absolute;
    border: 1px solid black;
    text-align: center;
    /*transition: .75s all ease;*/
    /*background-color: white;*/
}